extends layout
block head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="https://www.gstatic.com/charts/loader.js")

block content
  h1= title
  p Welcome to #{title}
  input#input(type="text", placeholder="Enter name BRAH")

  div#graph

  script(src='javascripts/graph.js')